doctype html
html(ng-app='grapher')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/grapher.js')
  body
    block content
